<div>
    <form action='/admin/courses/add-course' method='post'>

        <label>
            Název Kurzu
            <input type="text" name="title" placeholder="Název" class="input"/>
        </label>

        <label>
            Popis kurzu
            <input type="text" name="description" placeholder="Popis" class="input"/>
        </label>

        <button type='submit'>Přidat</button>
    </form>
</div>