<%- include('_header') %>

obsah

<form action="/admin/content/change-logo" method="post" enctype="multipart/form-data">

    <div>
        <label>
            Logo
            <input type="file" name="image">
        </label>
    </div>


    <button type="submit" class="button">Přidat</button>


</form>

<%- include('_footer') %>