<%- include('./parts/_header') %>

<%- include('./parts/_courseForm') %>

<h2>Seznam kurzů</h2>
<% if ((courses.length >= 1)) { %>
    <%- include('./parts/_courseList') %>
<% } else { %>
    <div id="content-container">
        <p>žádné</p>
    </div>
<% } %>


<%- include('./parts/_footer') %>