<%- include('./parts/_header') %>

<h2>Objednávky</h2>

<div>
    <a href="/admin/orders/archive">Archiv objednávek</a>
</div>

<h2>Seznam objednávek</h2>
<% if ((orders.length >= 1)) { %>
    <%- include('./parts/_orderList') %>
<% } else { %>
    <div id="content-container">
        <p>žádné</p>
    </div>
<% } %>

<%- include('./parts/_footer') %>