#header {
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #FDD692;
}

#footer {
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FDD692;
}

input {
    margin-bottom: 20px;
    padding: 10px 20px;

    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
}

#admin-order-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#admin-order-list div a {
    text-decoration: none;
}

.admin-button {
    border: 1px solid var(--grey3);
    border-radius: 20px;

    padding: 3px 11px;

    text-decoration: none;
}

.button-red {
    color: white;
    background-color: var(--red);
}

.button-red:hover {
    background-color: var(--darkerRed);
}

.button-blue {
    color: white;
    background-color: var(--blue);
}

.button-blue:hover {
    background-color: var(--darkerBlue);
}

.button-navbar {
    color: black;
    background-color: white;
}

.button-navbar:hover {
    color: white;
    background-color: grey;
}

.button-navbar-marked {
    color: white;
    background-color: var(--orange);
}

.button-navbar-marked:hover {
    background-color: var(--darkerOrange);
}

.flex-horizontal {
    display: flex;
    align-items: center;
    gap: 20px
}

