
#logo {
    max-width: 300px;
}

#logo:hover {
    opacity: 70%;
}

#navbar-container {
    background-color: rgba(0, 0, 0, 0.3);
}

#navbar-list {
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 0;
}

.navbar-item {
    margin: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.marked {
    background-color: rgba(0, 0, 0, 0.5);
}
