#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-link {
    max-width: min-content;
}

#logo {
    max-width: 300px;
}

#logo:hover {
    opacity: 70%;
}

#social-link {
    max-width: min-content;
    margin: 0 20px;
}

#social-logo {
    max-width: 30px;
}

#social-logo:hover {
    opacity: 70%;
}

#navbar-container {
    background-color: rgba(0, 0, 0, 0.3);
}

#navbar-list {
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 0;
}

.navbar-item {
    margin: 15px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.marked {
    background-color: rgba(0, 0, 0, 0.2);
}

ul {
    margin: 0;
}


#footer {
    background-color: rgba(0, 0, 0, 0.3);
}
