:root {
    --grey2: rgba(0, 0, 0, 0.2);
    --grey3: rgba(0, 0, 0, 0.3);
    --blue: rgba(45, 72, 121);
    --darkerBlue: rgba(45, 72, 90);
    --form-box: rgba(237, 246, 194);
    --nocolor: rgba(0, 0, 0, 0);
    --h1: rgba(227, 147, 97);
}

* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-link {
    max-width: min-content;
}

#logo {
    max-width: 300px;
}

#logo:hover {
    opacity: 70%;
}

#social-link {
    max-width: min-content;
    margin: 0 20px;
    text-decoration: none;
}

#social-logo {
    max-width: 30px;
}

#social-logo:hover {
    opacity: 70%;
}

#navbar-container {
    background-color: var(--grey3);
}

#navbar-list {
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 0;
}

.flex-container {
    display: flex;
}

.inputs-box {
    padding: 10px 20px;

    background-color: var(--form-box);

    border: 1px solid var(--grey3);
    border-radius: 10px;
}

.offer-input {
    width: 10px;
}

.form-label {
    display: flex;
    gap: 25px;
}

.form-label div {
    width: 50px;
}

#home-offers {
    min-width: 350px;
    margin: 10px 0 0 30px;
}

#offers-list {
    list-style-type: none;
}

#offer-heading-box {
    background-color: var(--blue);
}

#offer-heading {
    margin: 0 30px;
    padding: 15px 0;

    color: white;
}

.offer-item {
    margin: 28px 8px;
}

.offer-item-link {
    padding: 10px;

    color: black;

    border: solid 1px var(--grey2);
    border-radius: 5px;

    text-decoration: none;
}

.offer-item-link:hover {
    background-color: var(--grey2);

    border: solid 1px var(--nocolor);
}

.navbar-item {
    margin: 15px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: var(--grey2);
}

.marked {
    background-color: var(--grey2);
}

#courses-navbar {
    display: flex;
    gap: 20px;
}

.courses-navbar-item {
    margin: 5px;
    padding: 5px 15px;

    text-decoration: none;

    background-color: var(--grey3);
    color: white;

    border: 1px solid var(--grey2);
    border-radius: 20px;
}

.courses-navbar-item-marked {
    background-color: var(--blue);
}

ul {
    margin: 0;
}

h1 {
    color: var(--h1);
    margin: 20px 0
}

h2 {
    color: var(--h1);
    margin: 20px 0
}

.order-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px 0;
}

.order-button {
    border: 1px solid var(--grey3);
    border-radius: 20px;

    padding: 8px 18px;

    text-decoration: none;

    background-color: var(--blue);
    color: white;
}

.order-button:hover {
    background-color: var(--darkerBlue);
}

#order-form h2 {
    color: black;
    margin: 15px 0 0 0
}

#footer {
    background-color: var(--grey3);
}

#footer-links {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0;
    gap: 20px;
}

#footer-links a {
    color: white;
    text-decoration: none;
}
