body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#master-container {
    margin: 0 250px 0 250px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    margin: 10px 20px 10px 20px;
}

.center-button {
    display: flex;
    justify-content: center;
}

#footer {
    margin-top: auto;
    margin-bottom: 15px;
}

.mt10 {
    margin: 10px 0 0 0;
}

.mt20 {
    margin: 20px 0 0 0;
}

.ml-30 {
    margin: 0 0 0 30px;
}

.mb-10 {
    margin: 0 0 10px 0;
}