<div id="navbar-container">
    <ul id="navbar-list">
        <li>
            <a href="/" class="navbar-item <%= marked === "home" ? "marked" : "" %>">Domů</a>
        </li>
        <li>
            <a href="/courses" class="navbar-item <%= marked === "courses" ? "marked" : "" %>">Kurzy</a>
        </li>
        <li>
            <a href="/contacts" class="navbar-item <%= marked === "contacts" ? "marked" : "" %>">Kontakty</a>
        </li>
    </ul>
</div>