<div id="content-container">
    <form action="/course/place-order/<%= course.id%>" method="post">
        <h2>Účastníci</h2>
        <h2>Fakturační údaje</h2>
        <h2>Poštovní adresa</h2>
        <h2>kontaktní inforamce</h2>
        <h2>Poznámka</h2>

        <div class="center-button">
            <button type='submit'>Objednat</button>
        </div>
    </form>

</div>