<div id="content-container">
    <h3>Domů</h3>

    <form action="/admin/content/change-home-texts" method="post">

        <div>
            <label>
                Nadpis domovské stránky
                <input type="text" name="homeTitle" placeholder="Nadpis domovské stránky" class="input"
                       value="<%= homeHeading %>"/>
            </label>
            <label>
                Text domovské stránky
                <input type="text" name="homeText" placeholder="Text domovské stránky" class="input" value="<%= homeText%>"/>
            </label>
        </div>

        <button type="submit" class="button">Přidat</button>

    </form>
</div>