<div id="content-container">
    <h3>Logo</h3>

    <form action="/admin/content/change-logo" method="post" enctype="multipart/form-data">

        <input type="file" name="logo">

        <button type="submit" class="button">Nahrát</button>

    </form>
</div>