<div id="content-container">
    <h3>Logo</h3>

    <form action="/admin/content/change-logo" method="post" enctype="multipart/form-data">

        <div>
            <label>
                Logo
                <input type="file" name="logo">
            </label>
        </div>

        <button type="submit" class="button">Přidat</button>

    </form>
</div>