<div id="content-container">
    <h3>Úvodní stránka texty</h3>

    <form action="/admin/content/change-home-texts" method="post">

        <div>
            <label>
                H1
                <input type="text" name="homeTitle" placeholder="H1" class="input"/>
            </label>
            <label>
                H1
                <input type="text" name="homeText" placeholder="text" class="input"/>
            </label>
        </div>

        <button type="submit" class="button">Přidat</button>

    </form>
</div>