<div>
    <a href="/admin/courses" class="<%= marked === "courses" ? "marked" : ""%>">Kurzy</a>
    <a href="/admin/courses/categories" class="<%= marked === "categories" ? "marked" : ""%>">Kategorie</a>
    <a href="/admin/courses/types" class="<%= marked === "types" ? "marked" : ""%>">Typy</a>
</div>