<div class="content-container">
    <% for (const category of categories) { %>
        <div>
            <a href="/admin/courses/categories/<%= category.id %>"><%= category.title %></a>
        </div>
    <% } %>
</div>