<div id="content-container">

    <h3>Přidat kategorii</h3>

    <div id="content-container">
        <form action='/admin/courses/add-category' method='post'>
            <div>
                <label>
                    <div>Název</div>

                    <input type="text" name="categoryTitle" placeholder="název kategorie" class="input"/>
                </label>

            </div>

            <div class="center-button">
                <button type='submit'>Přidat</button>
            </div>
        </form>

    </div>
</div>