<div>
    <a href="/admin/courses" class="admin-button button-navbar <%= marked === "courses" ? "button-navbar-marked" : ""%>">Kurzy</a>
    <a href="/admin/courses/categories" class="admin-button button-navbar <%= marked === "categories" ? "button-navbar-marked" : ""%>">Kategorie</a>
    <a href="/admin/courses/types" class="admin-button button-navbar <%= marked === "types" ? "button-navbar-marked" : ""%>">Typy</a>
</div>