<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet'
          type='text/css'/>
    <%- include('./scripts/_tailwind') %>
    <script type='text/javascript'
            src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>
<body class="body">
<div class="master-container">
    <div id="header">
        <a href="/admin">
            <h1>REKVALIFIO</h1>
        </a>
        <div>
            <% if (user) { %>
                Uživatel: <%= user.name %>
                <a href="/admin">Odhlásit</a>
            <% } else { %>
                <a href="/admin">Přihlášení</a>
                <a href="/admin">Registrace</a>
            <% } %>
        </div>
    </div>
    <div class="content-container">