<div class="content-container">
    <% for (const offer of offers) { %>
        <div>
            <%= offer.id %> - <%= offer.title %> od: <%= offer.startDate %> do: <%= offer.endDate %>
        </div>
    <% } %>
</div>