<div id="content-container">
    <div>
        <a href="/admin/content">Správa obsahu</a>
    </div>

    <div>
        <a href="/admin/orders">Správa objednávek</a>
    </div>

    <div>
        <a href="/admin/courses">Správa kurzů</a>
    </div>

</div>